<div class="row">
  <div class="col-xs-12">
  <% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
  <% end %>
  </div>
  <%= link_to "Add new", new_cocktail_path, :class => "btn btn-primary" %>
</div>
